Source: ros-hydro-ros-realtime
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-ros-realtime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-allocators, ros-hydro-lockfree, ros-hydro-rosatomic, ros-hydro-rosrt
Description: The ros_realtime package
